/** Add css rules here for your application. */
h1 {
  font-size: 2em;
  font-weight: bold;
  color: #777777;
}

button.sendButton, button.clearButton, button.recentButton {
/*  display: block;*/
  margin: 0 2px;
  width: 60px;
}

.serverResponseLabelError {
  color: red;
}

.ytLogo {
  vertical-align: bottom;
  margin-bottom: -9px;
}

.progressSpinner {
  display: block;
  width: 16px;
  margin: auto;
}

.chartTitle {
  font-size: 15px;
  font-weight: bold;
  margin: 6px;
  text-align: center;
}

.gwt-viz-container {
  margin: auto;
}

.visualizationPanel {
  display: inline-block;
  vertical-align: top;
}

.recentQueriesPanel {
  position: absolute;
  padding: 2px;
  border-top: 1px solid lightGrey;
  border-left: 1px solid lightGrey;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
}

#header {
  float: left;
}

#searchForm {
  float: right;
  padding-top: 45px;
}

#results {
  padding-top: 90px;
  text-align: center;
}